<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

<session-factory>

   <!-- #hibernate.dialect org.hibernate.dialect.MySQLDialect
		#hibernate.dialect org.hibernate.dialect.MySQLInnoDBDialect
		#hibernate.dialect org.hibernate.dialect.MySQLMyISAMDialect
		#hibernate.connection.driver_class com.mysql.jdbc.Driver
		#hibernate.connection.url jdbc:mysql:///test
		#hibernate.connection.username gavin
		#hibernate.connection.password
	 -->


<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="hibernate.connection.url">jdbc:mysql:///xy_ptdb</property>

<property name="hibernate.connection.username">root</property>
<property name="hibernate.connection.password">421992850</property>
<property name="current_session_context_class">thread</property>		


		
		<!-- 
		## auto schema export  自动导出表结构. 自动建表
		#hibernate.hbm2ddl.auto create		自动建表.每次框架运行都会创建新的表.以前表将会被覆盖,表数据会丢失.(开发环境中测试使用)
		#hibernate.hbm2ddl.auto create-drop 自动建表.每次框架运行结束都会将所有表删除.(开发环境中测试使用)
		#hibernate.hbm2ddl.auto update(推荐使用) 自动生成表.如果已经存在不会再生成.如果表有变动.自动更新表(不会删除任何数据).
		#hibernate.hbm2ddl.auto validate	校验.不自动生成表.每次启动会校验数据库中表是否正确.校验失败.
		 -->
		 
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

<mapping class="com.csu.entity.Assay" />
<mapping class="com.csu.entity.PatientInfo" />
<mapping class="com.csu.entity.Report" />
<mapping class="com.csu.entity.FileInfo" />
<mapping class="com.csu.entity.Fkind" />
<mapping class="com.csu.entity.Skind" />
<mapping class="com.csu.entity.Topic" />
<mapping class="com.csu.entity.TopicScale" />
<mapping class="com.csu.entity.Options"/>
<mapping class="com.csu.entity.MentalScale"/>
<mapping class="com.csu.entity.Menu"/>
<mapping class="com.csu.entity.Items"/>
<mapping class="com.csu.entity.ItemTopic"/>
<mapping class="com.csu.entity.PatientTopic"/>
<mapping class="com.csu.entity.Permissions"/>
<mapping class="com.csu.entity.Result"/>
<mapping class="com.csu.entity.Dept"/>
<mapping class="com.csu.entity.DiagRule"/>
<mapping class="com.csu.entity.Role"/>
<mapping class="com.csu.entity.Specimen"/>
<mapping class="com.csu.entity.SysUserTopic"/>
<mapping class="com.csu.entity.Unit"/>
<mapping class="com.csu.entity.User"/>
<mapping class="com.csu.entity.Reference"/>
<mapping class="com.csu.entity.Uresult"/>
<mapping class="com.csu.entity.Tresult"/>
<mapping class="com.csu.entity.SubChoice"/>
<mapping class="com.csu.entity.Comment"/>
<mapping class="com.csu.entity.ScaleItem"/>
<mapping class="com.csu.entity.Choice"/>
<mapping class="com.csu.entity.Factor"/>
<mapping class="com.csu.entity.DiagType"/>
<mapping class="com.csu.entity.DiagName"/>
<mapping class="com.csu.entity.DiagClass"/>
<mapping class="com.csu.entity.SysUser"/>
<mapping class="com.csu.entity.UserMsg"/>
<mapping class="com.csu.entity.CheckSerial"/>
<mapping class="com.csu.entity.RoleMenu"/>
<mapping class="com.csu.entity.RolePermission"/>
<mapping class="com.csu.entity.UserRole"/>
<mapping class="com.csu.entity.Record"/>

</session-factory>



</hibernate-configuration>